body {
    font-family: system-ui, sans-serif;
    background-color: #303030;
    color: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.button {
    display: inline-block;
    margin: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: white;
    background-color: #5865F2;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.35s;
}
.button:hover {
    background-color: #4954C9;
}
footer {
    margin-top: 3rem;
    font-size: 0.9rem;
    color: #666;
}
#main-title {
    text-align: center;
}
